/* Estilos Glassmorphism com tons terrosos */
body {
    font-family: 'Victor Mono', monospace; /* Fonte nerd moderna */
    background-color: #f0e9e0; /* Cor de fundo terrosa clara */
    color: #5c4033; /* Cor do texto marrom escuro */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-size: 14px; /* Tamanho da fonte padrão */
}

.container {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

h1, h2, h3 {
    color: #a0522d; /* Cor do título marrom avermelhado */
    font-size: 1.5em; /* Tamanho da fonte dos títulos */
}

p {
    font-size: 1em; /* Tamanho da fonte dos parágrafos */
    text-align: justify; /* Justify text */
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.image-description {
    font-size: 1em; /* Ensure consistency */
    color: #5c4033;
    text-align: justify; /* Justify text */
    margin-top: -10px;
    margin-bottom: 20px;
}

.special-note {
    background-color: #fff3cd;
    border-left: 6px solid #ffeeba;
    padding: 10px;
    margin-bottom: 20px;
}

.special-note h2 {
    margin-top: 0;
}

pre[class*="language-"], code[class*="language-"] {
    background-color: #2d2d2d !important;
    color: #f8f8f2 !important;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 0.9em;
}
/* Custom styles for Mermaid / gitGraph */
.code-box {
    background-color: #ead8e7;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(129, 101, 101, 0.1);
    text-align: justify; /* Justify text */
}
.code-box code {
    display: block;
    white-space: pre-wrap;
    text-align: justify; /* Justify text */

}


/* Custom styles for Prism.js tokens */
span.token.function {
    color: #00ff00 !important; /* Change function color to green */
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        margin: 10px;
    }
}
