<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Git Branch</title>
    <link rel="stylesheet" href="/app/static/css/git-course.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-bash.min.js"></script>
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
    </script>
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
    </script>
    <style>
        /* test w3c ok  */
        .spaced-pre {
            padding-bottom: 20px; /* Adds spacing below */
        }

        .spaced-p {
            padding-top: 20px; /* Adds spacing above */
        }

        .mermaid {
    background-color: black; /* Adds black background to mermaid div */
    color: white; /* Ensures text color is readable */
    padding: 10px; /* Adds padding for better readability */
    width: 500px; /* Adjust width to fit larger graph */
    height: 100%; /* Adjust height to fit larger graph */
    margin: 0 auto; /* Centers the graph horizontally */
    display: block; /* Ensures the element behaves like a block for centering */
}


        h4 {
            font-weight: bold;
            font-size: 1.2em;
            color: #333;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  /* Sombra suave para dar profundidade */
            margin-top: 20px;
            margin-bottom: 10px;
        }

        h6 {
            font-weight: bold;
            font-size: 1.2em;
            color: #333;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  /* Sombra suave para dar profundidade */
            margin-top: 20px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body class="intro-page">
    <div class="container">
        <h1>O que é um 'branch' (ramo)? - Parte 2</h1>
        <nav class="styled-nav">
            <ul>
                <li><a href="#section1">Alternando ramificações sem mesclar</a></li>
                <li><a href="#section2">Mesclando (merging)</a></li>
                <li><a href="#section3">Resolvendo conflitos</a></li>
                <li><a href="#section4">Git Graph</a></li>
            </ul>
        </nav>

        <section id="section1">
            <h2>Alternando ramificações sem mesclar</h2>
            <p class="p-styled spaced-p">Você pode ver a extensão das mudanças que fez na branch de teste do projeto Phonetic Website na seção anterior listando o conteúdo do
               diretório de trabalho:</p>
           <img src="/app/static/images/ls-a.webp" alt="arquivos do ramo test" style="max-width: 48%; height: auto;">

           <p class="p-styled spaced-p">Todos os arquivos CSS foram movidos um nível para cima e o diretório de estilo não existe mais.</p>

           <p class="p-styled spaced-p">Agora vamos ver o poder das branches.</p>

           <p class="p-styled spaced-p">Vamos voltar para a branch main usando o comando <strong>git checkout </strong> e listar o conteúdo do diretório de
             trabalho novamente:</p>

             <img src="/app/static/images/checkout-main.webp" alt="git checkout no ramo main" style="max-width: 48%; height: auto;">

           <p class="p-styled spaced-p">Como você pode ver na lista, o conteúdo do diretório de trabalho foi restaurado. O diretório de estilo está de volta, contendo todos os arquivos CSS.
            As referências de estilo no código HTML não mudaram. Teste o site em um navegador para verificar se está funcionando corretamente.</p>

            <p class="p-styled spaced-p">Como isto é possivel?</p>

            <p>Toda vez que você troca de branch, o Git busca no banco de dados do repositório o conteúdo do diretório de trabalho do último commit daquela branch.</p>


            <p class="p-styled spaced-p">Quando você roda o comando <code class="language-bash">git checkout &lt;branch&gt;</code>, o ponteiro HEAD
           se move para o último commit da branch que você está trocando, e o conteúdo do diretório de trabalho reflete o que está apontado pelo HEAD.</p>


             <p class="p-styled spaced-p">Abaixo está uma ilustração gráfica do processo de troca. Na primeira imagem, a branch especial2 é a branch atual. O HEAD está apontando para o
              último commit da especial2:</p>


            <img src="/app/static/images/git_diagram_a.webp" alt="Diagrama mostrando a posição do HEAD pelo último comite" style="max-width: 48%; height: auto;">

            <p class="p-styled spaced-p">Na imagem anterior a linha representa o ramo principal, 'main' com
                cada comite mostrado como um círculo. A seta indica a direção do desenvolvimento, ou seja 'HEAD' e aponta para o último comite.
                O último comite é o comite mais recente. O comite mais recente é o comite que está no topo da pilha de comites. De baixo para cima como pode-se ver na imagem abaixo do git log.
            </p>
            <img src="/app/static/images/git_diagram_b.webp" alt="Tela mostrando o histórico de comites realizados" style="max-width: 100%; height: auto;">

            <p class="p-styled spaced-p">Após o comando <code class="language-bash">git checkout main</code>, o ponteiro HEAD se move para o último commit na branch main e o conteúdo do diretório
                de trabalho muda de acordo.</p>

            <img src="/app/static/images/git-branch_2.webp" alt="Tela mostrando o histórico de comites realizados" style="max-width: 100%; height: auto;">

            <p class="p-styled spaced-p">Você sempre pode verificar qual branch está atualizado com <code class="language-bash">git branch</code> ou <code class="language-bash">git log</code> .</p>


            <p class="p-styled spaced-p">Se você tiver mudanças não confirmadas ao trocar para outro branch, o Git vai tentar mesclar essas mudanças no branch de destino.
                Se as mudanças forem incompatíveis, o Git não vai permitir a troca. Você pode forçar a troca usando a opção -f, por exemplo, <code class="language-bash">git checkout -f main</code>
                se não se importar em perder as mudanças não confirmadas. É uma boa prática trocar de branches só quando o diretório de trabalho está limpo.</p>

            <p class="p-styled spaced-p">Os commits de cada branch estão seguros no banco de dados do repositório do projeto (o diretório .git). Não importa quais
                mudanças você faça em outra branch, tudo será restaurado quando você voltar, a menos que decida mesclar as mudanças. Mesclagem é o assunto que vamos abordar na
                próxima seção.</p>

        </section>

        <section id="section2">
            <h2>Mesclando (merging)</h2>
            <p class="p-styled spaced-p">Em um fluxo de trabalho típico do Git, os desenvolvedores normalmente implementam um pedido de novo recurso em um
                branch separado. Assim, eles podem experimentar mudanças livremente sem afetar a base de código principal. As mudanças são testadas a fundo no
                branch de novo recurso. Só depois de testes bem-sucedidos, as mudanças são mescladas no branch principal de desenvolvimento.</p>

            <p class="p-styled spaced-p">Vamos supor que temos duas novas solicitações de recursos para implementar. A primeira é adicionar as letras G, H, I e a segunda é adicionar
                as letras J, K, L para o site fonético. Implementaremos cada uma dessas solicitações de recursos em branches separados.</p>

            <img src="/app/static/images/branch_ghi_jkl.webp" alt="Tela mostrando dois novos branches (ghi - jkl)" style="max-width: 100%; height: auto;">

            <p class="p-styled spaced-p">Vamos implementar o primeiro requisito através de um exercício.</p>

            <p class="p-styled spaced-p">Exercício</p>

            <p class="p-styled spaced-p">Para adicionar as letras G-H-I faça o comando <code class="language-bash">git checkout g-h-i</code>:</p>

            <img src="/app/static/images/checkout-ghi.webp" alt="Tela mostrando git checkout g-h-i" style="max-width: 100%; height: auto;">

            <p class="p-styled spaced-p">Adicione a letra G a pilots.html, cities.html e names.html (por exemplo, "Golf", "Greenville" e "Gloria").
                Navegue no site para testar as alterações, adicionar (git add) e comitar (git commit) com o comentário "Adicionada letra G".
            </p>

            <img src="/app/static/images/added_G.webp" alt="Tela mostrando letra G adicionada e comitada" style="max-width: 100%; height: auto;">


            <p class="p-styled spaced-p">Repita o mesmo processo para adicionar a letra H (por exemplo, "Hotel", "Houston" e "Henry") e depois faça o stage e commit.</p>

            <p class="p-styled spaced-p">Repita o mesmo processo para adicionar a letra I (por exemplo, "Índia", "Illinois" e "Isabel") e depois faça o stage e o commit.</p>

            <p>Ao terminar este exercício, o histórico da branch g-h-i deve ficar assim:</p>

            <img src="/app/static/images/git-log-ghi.webp" alt="Tela mostrando git log das letras G, H e I" style="max-width: 100%; height: auto;">

            <p>O diretório de trabalho deve estar limpo, sem mudanças não confirmadas.</p>

            <img src="/app/static/images/git-st-ghi.webp" alt="Tela mostrando o git status do ramo g-h-i" style="max-width: 100%; height: auto;">


            <p class="p-styled spaced-p">Estamos prontos agora para mesclar as mudanças na branch main. Primeiro, volte para a main e verifique o histórico:</p>


            <img src="/app/static/images/git_checkout_main.webp" alt="Tela mostrando o git checkout main" style="max-width: 100%; height: auto;">


            <p class="p-styled spaced-p">Agora navegue no site fonético e você vai ver que ainda está na letra F. Isso vai mudar assim que tivermos mesclado as alterações
                do branch g-h-i. O comando <code class="language-bash">git merge</code> permite que você integre linhas do tempo de desenvolvimento separadas em um único branch.
                Para incorporar o recurso que você implementou no branch g-h-i ao  ramo (branch) main, só precisamos executar o seguinte comando:</p>

            <img src="/app/static/images/git-merge-ghi.webp" alt="Tela mostrando o git merge" style="max-width: 100%; height: auto;">


            <p class="p-styled spaced-p">Vamos dar uma olhada na história da branch main depois do merge:</p>


            <img src="/app/static/images/git-log-main.webp" alt="Tela mostrando git log após o merge" style="max-width: 100%; height: auto;">


               <p class="p-styled spaced-p">Você pode ver que os commits que você fez no g-h-i foram integrados. Se você navegar no site agora, pode confirmar que as
                mudanças foram incorporadas, incluindo as palavras até a letra I.</p>

                <p class="p-styled spaced-p">O Git faz um bom trabalho ao mesclar mudanças em diferentes partes do mesmo arquivo automaticamente. Às vezes, pode surgir um conflito durante
                    a operação de mesclagem. Isso acontece quando as mudanças que você fez colidem com o código existente na branch em que você está mesclando.
                    Na próxima seção, vamos ver como resolver conflitos.</p>

               <p class="p-styled spaced-p">A imagem abaixo usando o GitGraph mostra o processo até então concluído.</p>

               <img src="/app/static/images/gitgraph_view.webp" alt="Tela mostrando a visão gitgraph após o merge" style="max-width: 100%; height: auto;">

        </section>

        <section id="section3">
            <h2>Resolvendo conflitos</h2>


                <p class="p-styled spaced-p">Agora vamos implementar o segundo pedido de recurso descrito na seção anterior: adicionar as
                   letras J, K e L ao Site Fonético. Já criamos uma branch de recurso chamada j-k-l para fazer essa mudança, então vamos mudar para ela.</p>

                <img src="/app/static/images/git-sw-jkl.webp" alt="Tela mostrando git switch  j-k-l" style="max-width: 100%; height: auto;">

                <p class="p-styled spaced-p"> Vejamos a história do ramo jkl:</p>

                <img src="/app/static/images/git-log-jkl.webp" alt="Tela mostrando git log de j-k-l" style="max-width: 100%; height: auto;">

                <p class="p-styled spaced-p">Como você pode ver, o histórico da ramificação j-k-l espelha o histórico da ramificação main no ponto de divisão quando a
                    ramificação foi criada. No entanto, ele não contém as alterações mais recentes no main derivadas da mesclagem com o branch g-h-i.</p>

               <p class="p-styled spaced-p">Exercício</p>

               <p>Adicione a letra J a pilots.html, cities.html e names.html (por exemplo, "Julieta", "Jackson" e "James") imediatamente após a letra F.
                O código em pilots.html deve ser semelhante ao seguinte: </p>

                <img src="/app/static/images/pilots-add_J.webp" alt="Tela mostrando git status" style="max-width: 100%; height: auto;">

                <p class="p-styled spaced-p">Não se preocupe com a lacuna causada pela falta das letras G, H e I. Vamos resolver isso ao mesclar as alterações no branch main.</p>
                <p class="p-styled spaced-p">Navegue no site para testar as mudanças, faça o stage e commit com o comentário "Adicionada a letra J".</p>
                <p class="p-styled spaced-p">Navegue no site para testar as mudanças, faça o stage e commit com o comentário "Adicionada a letra K".</p>
                <p class="p-styled spaced-p">Navegue no site para testar as mudanças, faça o stage e commit com o comentário "Adicionada a letra L".</p>
                <p class="p-styled spaced-p">Ao terminar este exercício, o histórico da branch j-k-l deve ficar assim:</p>
                <img src="/app/static/images/git-log-total.webp" alt="Tela mostrando git log total" style="max-width: 100%; height: auto;">
                <p class="p-styled spaced-p">O diretório de trabalho deve estar limpo, sem alterações não confirmadas: </p>
                <img src="/app/static/images/git-st-jkl.webp" alt="Tela mostrando git status do ramo j-k-l" style="max-width: 100%; height: auto;">
                <p class="p-styled spaced-p">Estamos prontos agora para mesclar as mudanças na branch main. Primeiro, volte para o ramo main e verifique o histórico:</p>
                <img src="/app/static/images/git-log-main.webp" alt="Tela mostrando git checkout main" style="max-width: 100%; height: auto;">
                <p class="p-styled spaced-p">Se você navegar no site fonético agora, descobrirá que ainda está na letra I. Vamos mesclar o recurso que implementamos no branch j-k-l e ver o que acontece: </p>
                <img src="/app/static/images/git-merge-br2.webp" alt="Tela mostrando git merge j-k-l" style="max-width: 100%; height: auto;">
                <p class="p-styled spaced-p">A saída git merge está sinalizando conflitos nos três arquivos HTML. Isso era de se esperar, pois fizemos alterações nas mesmas linhas de código
                 em ambas as ramificações. A execução do git status informará que os arquivos foram modificados:</p>
                <img src="/app/static/images/git-st-conflit.webp" alt="Tela mostrando git status" style="max-width: 100%; height: auto;">
                 <p class="p-styled spaced-p">Em caso de conflitos durante uma mesclagem, o Git destaca habilmente os conflitos no código-fonte em cada arquivo,
                   mantendo ambas as alterações (a do branch de recursos e a do branch de destino), deixando para o desenvolvedor <strong>resolver os conflitos
                    manualmente.</strong></p>
                  <p class="p-styled spaced-p">Vamos consertar pilots.html primeiro. Abra-o em seu editor de texto favorito. As <strong>alterações conflitantes serão claramente marcadas pelo Git:</strong></p>
                  <img src="/app/static/images/pilots_conflits.webp" alt="Tela mostrando git status" style="max-width: 100%; height: auto;">
                  <p class="p-styled spaced-p">A seção de código entre <code>&lt;&lt;&lt;&lt;&lt;&lt; HEAD</code> e <code>=======</code> mostra o código no branch atual. A seção de código entre <code>=======</code> e <code>&gt;&gt;&gt;&gt;&gt;&gt; j-k-l</code> mostra as alterações conflitantes mescladas da ramificação j-k-l.
                  as alterações conflitantes mescladas da ramificação j-k-l. Resolver o conflito neste caso é muito fácil. Como queremos manter as duas alterações,
                    só precisamos excluir as marcações do Git e manter a sequência de palavras em ordem alfabética.</p>
                    <p>Abra pilots.html em seu editor favorito e exclua as marcações do Git para que a lista do alfabeto fique assim:</p>
                    <img src="/app/static/images/pilots-fixed.webp" alt="Tela mostrando git status" style="max-width: 100%; height: auto;">
                    <p class="p-styled spaced-p">Salve o arquivo e faça o stage e commit das alterações. Repita o processo para cities.html e names.html.
                      Ao terminar, o histórico da branch main deve ficar assim:</p>
                    <img src="/app/static/images/git-comit-resolv.webp" alt="Tela mostrando git log de main" style="max-width: 100%; height: auto;">
                    <p class="p-styled spaced-p">Vamos agora dar uma olhada na história do branch main: </p>
                    <img src="/app/static/images/git-log-main-merg.webp" alt="Tela mostrando git log de main" style="max-width: 100%; height: auto;">
                    <p class="p-styled spaced-p">Todos os commits da branch j-k-l foram integrados. O último commit é o que você acabou de executar depois de resolver o conflito de merge.
                        O comando git merge é feito para preservar o histórico sempre que possível.</p>
                    <p class="p-styled spaced-p">Para concluir, vamos marcar esta versão como v0.2 e atualizar o repositório remoto no GitHub. Pode ser necessário inserir seu nome de usuário e senha:</p>
                    <img src="/app/static/images/git-tag-push.webp" alt="Tela mostrando git tag" style="max-width: 100%; height: auto;">
                    <p class="p-styled spaced-p">Agora seu repositório local e remoto estão sincronizados e o diretório deve estar limpo de pendências:</p>
                    <img src="/app/static/images/git-st-conclus.webp" alt="Tela mostrando git status" style="max-width: 100%; height: auto;">
                    <p class="p-styled spaced-p">Certifique-se que o site fonético no GitHub esteja atualizado.</p>
                    <p class="p-styled spaced-p">Observe que enviamos as alterações apenas para a ramificação main. Mas é possível tambem enviar alterações para
                        outros ramos com o comando,<code class="language-bash">git push origin branch</code> </p>

        </section>

        <section id="section4">
            <h3>Git Graph</h3>
            <p>Diagrama Mermaid para o Git graph</p>
            <div class="mermaid">
                %%{init: { 'logLevel': 'debug', 'theme': 'base', 'gitGraph': {'showBranches': true, 'showCommitLabel':true,'mainBranchOrder': 0}} }%%
                gitGraph TB:
                commit id: "Initial commit"
                commit id: "Adicionado o código fonte"
                commit id: "Adicionada a letra D"
                commit id: "Adicionada a letra E"
                commit id: "Adicionada a letra F" tag: "v0.1"
                commit id: "mudança não desejada"
                commit id: "Revert mudança não desejada" type: REVERSE
                commit id: "Letra G adicionada"
                commit id: "Letra H adicionada"
                branch g-h-i
                commit id: "Letra I adicionada"
                checkout main
                branch j-k-l
                commit id: "Letra J adicionada"
                commit id: "Letra K adicionada"
                commit id: "Letra L adicionada"
                checkout main
                merge g-h-i
                merge j-k-l
                commit id: "Conflito de mesclagem j-k-l resolvido" tag: "v0.2"
            </div>
            <div class="code-box">
                <pre>
                    <code>
%%{init: { 'logLevel': 'debug', 'theme': 'base', 'gitGraph': {'showBranches': true, 'showCommitLabel':true,'mainBranchOrder': 0}} }%%


                        gitGraph TB:
                        commit id: "Initial commit"
                        commit id: "Adicionado o código fonte"
                        commit id: "Adicionada a letra D"
                        commit id: "Adicionada a letra E"
                        commit id: "Adicionada a letra F" tag: "v0.1"
                        commit id: "mudança não desejada"
                        commit id: "Revert mudança não desejada" type: REVERSE
                        commit id: "Letra G adicionada"
                        commit id: "Letra H adicionada"
                        branch g-h-i
                        commit id: "Letra I adicionada"
                        checkout main
                        branch j-k-l
                        commit id: "Letra J adicionada"
                        commit id: "Letra K adicionada"
                        commit id: "Letra L adicionada"
                        checkout main
                        merge g-h-i
                        merge j-k-l
                        commit id: "Conflito de mesclagem j-k-l resolvido" tag: "v0.2"
                    </code>
                </pre>
            </div>
        </section>

        <footer style="text-align: center; margin-top: 20px; padding: 10px; background-color: #ead8e7; border-top: 1px solid #ddd;box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);">
            <div style="display: flex; align-items: center; justify-content: center;">
                <span><strong>Hosted on GitHub Pages</strong></span>
                <a href="http://jigsaw.w3.org/css-validator/check/referer" style="margin-left: 10px;">
                    <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="CSS válido!">
                </a>
            </div>
            <nav>
                <a href="git-diff.html" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Próximo: git-diff"</a> |
                <a href="index.html" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Voltar</a>
            </nav>
        </footer>
    </div>
    <script>Prism.highlightAll();</script>
</body>
</html>
