<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>git init</title>
    <link rel="stylesheet" href="/app/static/css/git-course.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-bash.min.js">
         /* test w3c ok  */
    </script>
</head>
<body class="intro-page">
    <div class="container">
        <h1>git init</h1>
        <pre><code class="language-bash">git init</code></pre>
        <p class="p-styled spaced-p">O comando git init desempenha um papel crucial no universo do Git, um sistema de controle de versão distribuído amplamente utilizado para gerenciar código-fonte.
            Esse comando é utilizado para criar um novo repositório Git vazio ou para reinicializar um já existente. Basicamente, ele configura as estruturas necessárias em um diretório
            especificado para acompanhar e gerenciar as mudanças nos arquivos. Seja iniciando um novo projeto, migrando um projeto existente para um fluxo de trabalho Git ou
            configurando um repositório para colaboração, o git init é geralmente a primeira etapa do processo.</p>
        <img src="/app/static/images/git_init_red.webp" alt="Screenshot do comando git init">
        <p class="image-description">A imagem acima mostra a criação de dois diretórios para o 'projeto-a'.
             Ao acionar o comando 'git init' o referido projeto passa a ser controlado pelo git.
             Observa-se ainda que aparece em destaque um símbolo de um 'ramo' e o nome dado a ele é 'main'.
             O ramo é mais conhecido tecnicamente como 'branch'. Desta forma temos a certeza que foi inicializado o repositório do projeto-a.</p>

       <p class="p-styled spaced-p">Inicializando um repositório com um nome específico para o ramo (branch) inicial</p>
       <pre><code class="language-bash">git init --initial-branch=branch_name</code></pre>
       <p class="p-styled spaced-p">Os desenvolvedores geralmente preferem usar nomes específicos como main ou trunk para o branch principal de um repositório em vez do
        padrão master. Esse comando é útil quando você quer definir um nome personalizado para o branch inicial desde o começo, alinhando com as
        convenções de nomenclatura de branches da sua equipe ou organização.</p>

        <p class="p-styled spaced-p">--initial-branch=branch_name: Esse flag permite que você defina o nome do ramo inicial no seu repositório em vez do padrão master(pouco usado atualmente).
            É especialmente útil para se alinhar com padrões da indústria ou preferência pessoal.</p>
       <pre><code class="language-bash">Initialized empty Git repository in /path/to/your/directory/.git/</code></pre>



            <footer style="text-align: center; margin-top: 20px; padding: 10px; background-color: #ead8e7; border-top: 1px solid #ddd;box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);">
                <div style="display: flex; align-items: center; justify-content: center;">
                    <span><strong>Hosted on GitHub Pages</strong></span>
                    <a href="http://jigsaw.w3.org/css-validator/check/referer" style="margin-left: 10px;">
                        <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="CSS válido!">
                    </a>
                </div>
                <nav>
                    <a href="git-init.html" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Próximo: git clone"</a> |
                    <a href="index.html" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Voltar</a> |
                    <a href="/terms" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Terms of Service</a> |
                    <a href="/privacy" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Privacy Policy</a>
                </nav>
            </footer>
    </div>
    <script>Prism.highlightAll();</script>
</body>
</html>
