<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hospedagem</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/common-styles.css">
    <link rel="stylesheet" href="../../static/css/git-course.css">
</head>
<body>
    <div class="container">
        <h1>Hospedagem - Projeto "Phonetic Website"</h1>
        <p class="p-styled spaced-p">
          Seguiremos um roteiro baseado em um livro denominado <strong>"Practical Guide to Git and GitHub For Windows Users"</strong>, escrito por Roberto Vormittag.
        </p>

        <section class="etapas-section">
      <h4>Etapas</h4>
      <p><strong>Estas são as etapas essenciais para iniciar seu projeto no GitHub:</strong></p>
      <ol class="etapas-list">
      <li class="left-list"><strong>Etapa:</strong> Crie sua conta no GitHub</li>
      <li class="left-list"><strong>Etapa:</strong> Faça login em sua conta no GitHub.</li>
      <li class="left-list"><strong>Etapa:</strong> Crie um repositório no GitHub usando o ícone "+" e selecione "New repository".</li>
      <li class="left-list"><strong>Etapa:</strong> Nomeie o repositório como 'simple-website'</li>
      <li class="left-list"><strong>Etapa:</strong> Descreva o projeto como "Phonetic alphabet website"</li>
      <li class="left-list"><strong>Etapa:</strong> Selecione o repositório como 'Public'</li>
      <li class="left-list"><strong>Etapa:</strong> Marque "Initialize this repository with a README file"</li>
      <li class="left-list"><strong>Etapa:</strong> Deixe '.gitignore' e 'license' como "None"</li>
      <li class="left-list"><strong>Etapa:</strong> Clique em "Create repository"</li>
      </ol>

          <figure>
            <img src="/static/images/create_repo_github.webp" alt="Screenshot do processo de criação de repositório no GitHub">
            <figcaption class="image-description">A imagem acima mostra o processo de criação de um novo repositório no GitHub.</figcaption>
          </figure>
        </section>

      <footer class="footer">
        <div class="footer-flex">
          <nav class="footer-nav footer-left">
            <a href="3-git-config.html" class="footer-link">Voltar</a>
            <a href="5-connect.html" class="footer-link">Próximo: connect</a>
          </nav>
            <form action="/logout" method="post" class="logout-form">
              <button id="logoutButton" type="submit" class="form-btn btn-space">Logout</button>
          </form>
      <button id="markCompletedButton" data-topic-id="4" class="form-btn">Marcar como concluído</button>
        </div>
          <div class="footer-instruction">Para sair da sua conta, clique em Logout. Para registrar seu progresso, clique em Marcar como concluído.</div>
      </footer>
      <script src="/static/js/git-course-functions.js"></script>
      </div>
</body>
</html>
</body>
</html>
