<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospedagem - Projeto "Phonetic Website"</title>
    <link rel="stylesheet" href="/app/static/css/git-course.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-bash.min.js"></script>
    <style>
         /* test w3c ok  */
        h4 {
       font-weight: bold;
      font-size: 1.2em;
      color: #333;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  /* Sombra suave para dar profundidade */
      margin-top: 20px;
      margin-bottom: 10px;}

    </style>
</head>
<body>
    <div class="container">
        <h1>Hospedagem - Projeto "Phonetic Website"</h1>
        <p class="p-styled  spaced-p">Seguiremos um roteiro baseado em um livro denominado <strong>"Practical Guide to Git and GitHub For Windows Users"</strong>, escrito por Roberto Vormittag.</p>
        <h4>Etapas</h4>
        <ol style="font-size: 1em; color: #5c4033; text-align: justify; margin-top: -10px; margin-bottom: 20px; padding-left: 20px;">
            <li><strong>Etapa :</strong> Crie sua conta no GitHub</li>
            <li><strong>Etapa :</strong> Faça 'login' em sua conta no GitHub.</li>
            <li><strong>Etapa :</strong> Crie um repositório no GitHub - No menu do GitHub selecione o ícone 'Plus'(+) para criar um "New repository".</li>
            <li><strong>Etapa :</strong> Dê um nome para este repositório - usaremos o nome 'simple-website'</li>
            <li><strong>Etapa :</strong> Crie uma descrição para este projeto - "Phonetic alphabet website"</li>
            <li><strong>Etapa :</strong> Selecione o repositório como 'Public'.</li>
            <li><strong>Etapa :</strong> Marque a Caixa "Initialize this repository with a README file".</li>
            <li><strong>Etapa :</strong> Deixe sem marcar o '.gitignore' e as 'license lists' como "None".</li>
            <li><strong>Etapa :</strong> Pressione o botão "Create repository".</li>
        </ol>
        <img src="/app/static/images/create_repo_github.png" alt="Screenshot do processo de criação de repositório no GitHub">
        <p class="image-description">A imagem acima mostra o processo de criação de um novo repositório no GitHub.</p>
        <footer style="text-align: center; margin-top: 20px; padding: 10px; background-color: #ead8e7; border-top: 1px solid #ddd;box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);">
            <div style="display: flex; align-items: center; justify-content: center;">
                <span><strong>Hosted on GitHub Pages</strong></span>
                <a href="http://jigsaw.w3.org/css-validator/check/referer" style="margin-left: 10px;">
                    <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="CSS válido!">
                </a>
            </div>
            <nav>
                <a href="hosting.html" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Próximo: git clone"</a> |
                <a href="index.html" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Voltar</a> |
                <a href="/terms" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Terms of Service</a> |
                <a href="/privacy" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Privacy Policy</a>
            </nav>
        </footer>
    </div>
</body>
</html>
