<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>git status</title>
    <link rel="stylesheet" href="/app/static/css/git-course.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-bash.min.js"></script>
    <style>
     /* test w3c ok  */

        h4 {
       font-weight: bold;
      font-size: 1.2em;
      color: #333;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);  /* Sombra suave para dar profundidade */
      margin-top: 20px;
      margin-bottom: 10px;}

    </style>
</head>
<body class="intro-page">
    <div class="container">
        <h1>git status</h1>
        <code class="language-bash">git status</code>
        <p class="p-styled  spaced-p">O comando git status é uma ferramenta fundamental no sistema de controle de versão do Git. Ele ajuda você a acompanhar
            o estado do seu diretório de trabalho e da área de teste. O comando informa sobre as alterações que foram feitas nos arquivos,
            ajudando você a entender o que está preparado para o próximo commit, o que ainda não está preparado e quais arquivos não
             estão sendo rastreados pelo Git. É uma parte essencial do fluxo de trabalho que ajuda os desenvolvedores a garantir que suas
             alterações de código sejam gerenciadas com precisão e confirmadas adequadamente.</p>


        <h4>Estados dos Arquivos no Git</h4>
        <p>Os arquivos em um repositório Git podem estar em um dos seguintes estados:</p>
        <ul>
            <li><strong>Não rastreado (untracked)</strong>: O arquivo não faz parte do repositório. É o caso de novos arquivos criados para adicionar novas funcionalidades ou arquivos de configurações que não precisam fazer parte do repositório. O Git sabe que este arquivo está na pasta, mas não se interessa. O arquivo simplesmente existe na pasta do repositório.</li>
            <li><strong>Não modificado (unmodified)</strong>: Um arquivo não modificado está no seu estado neutro. Já faz parte do repositório e está consolidado, ou seja, já está salvo e faz parte do histório do repositório e no momento não tem modificação nenhuma.</li>
            <li><strong>Modificado (modified)</strong>: Uma vez no repositório, qualquer alteração de conteúdo ou exclusão do próprio arquivo faz com que o Git sinilize o arquivo como modificado. Significa que o arquivo sofreu alterações, mas ainda não foi dito o que deser ser feito com essas alterações e se farão parte do próximo commit, ou seja, da próxima versão que será consolidada. Significa também que esses arquivos estão diferentes quando comparados com a última versão disponível no histórico.</li>
            <li><strong>Preparado (staged)</strong>: A partir do momento que o comando git add é executado em algum arquivo, este assume o estado de preparado. Neste momento, o Git sabe que o arquivo foi modificado e agora está na área de preparação para ser consolidado.</li>
        </ul>
        <p class="p-styled  spaced-p">É muito importante que os conceitos acima definidos estejam bem claros para que de agora em diante ao seguir pelos vários
            comandos do Git, você possa entender o que está acontecendo com os arquivos do seu repositório. O comando git status é uma ferramenta
            fundamental para que você possa acompanhar o estado dos arquivos do seu repositório e saber o que está acontecendo com eles.</p>


        <img src="/app/static/images/git-status.png" alt="Screenshot do comando git-status">
        <p class="image-description">Este comando simples, quando executado sem argumentos adicionais,
            exibe uma visão abrangente do status do seu repositório. Ele lista todos os arquivos que foram alterados em seu diretório de trabalho,
            mostrando se eles estão preparados ou não para confirmação. Além disso, ele lista todos os arquivos
            não rastreados sobre os quais o Git ainda não tem informações.</p>

         <p class="p-styled  spaced-p">A imagem anterior mostra um conjunto de arquivos não rastreados pelo git, ou seja 'untracked files'. Bem
                como sinaliza que não existem arquivos preparados para o próximo commit, mas se usarmos o comando git add, podemos prepara-los para o próximo commit.</p>



        <footer style="text-align: center; margin-top: 20px; padding: 10px; background-color: #ead8e7; border-top: 1px solid #ddd;box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);">
            <div style="display: flex; align-items: center; justify-content: center;">
                <span><strong>Hosted on GitHub Pages</strong></span>
                <a href="http://jigsaw.w3.org/css-validator/check/referer" style="margin-left: 10px;">
                    <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="CSS válido!">
                </a>
            </div>
            <nav>
                <a href="git-status.html" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Próximo: git add"</a> |
                <a href="index.html" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Voltar</a> |
                <a href="/terms" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Terms of Service</a> |
                <a href="/privacy" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Privacy Policy</a>
            </nav>
        </footer>
    </div>
    <script>Prism.highlightAll();</script>
</body>
</html>
