<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>git status</title>
    <link rel="stylesheet" href="{CSS_PATH}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-bash.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>git status</h1>
        <pre><code class="language-bash">git status</code></pre>
        <p>O comando git status é uma ferramenta fundamental no sistema de controle de versão do Git. Ele ajuda você a acompanhar
            o estado do seu diretório de trabalho e da área de teste. O comando informa sobre as alterações que foram feitas nos arquivos,
            ajudando você a entender o que está preparado para o próximo commit, o que ainda não está preparado e quais arquivos não
             estão sendo rastreados pelo Git. É uma parte essencial do fluxo de trabalho que ajuda os desenvolvedores a garantir que suas
             alterações de código sejam gerenciadas com precisão e confirmadas adequadamente.</p>
        <img src="{IMG_PATH}git-status.png" alt="Screenshot do comando git-status">
        <p class="image-description">Este comando simples, quando executado sem argumentos adicionais,
            exibe uma visão abrangente do status do seu repositório. Ele lista todos os arquivos que foram alterados em seu diretório de trabalho,
            mostrando se eles estão preparados ou não para confirmação. Além disso, ele lista todos os arquivos
            não rastreados sobre os quais o Git ainda não tem informações.</p>
        <a href="git-add.html">Próximo: git add</a>
        <a href="index.html">Voltar</a>
    </div>
    <script>Prism.highlightAll();</script>
</body>
</html>
