<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>git init</title>
    <link rel="stylesheet" href="{CSS_PATH}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-bash.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>git init</h1>
        <pre><code class="language-bash">git init</code></pre>
        <p>O comando git init desempenha um papel crucial no universo do Git, um sistema de controle de versão distribuído amplamente utilizado para gerenciar código-fonte.
            Esse comando é utilizado para criar um novo repositório Git vazio ou para reinicializar um já existente. Basicamente, ele configura as estruturas necessárias em um diretório
            especificado para acompanhar e gerenciar as mudanças nos arquivos. Seja iniciando um novo projeto, migrando um projeto existente para um fluxo de trabalho Git ou
            configurando um repositório para colaboração, o git init é geralmente a primeira etapa do processo.</p>
        <img src="{IMG_PATH}git_init_red.png" alt="Screenshot do comando git init">
        <p class="image-description">A imagem acima mostra a criação de dois diretórios para o 'projeto-a'.
             Ao acionar o comando 'git init' o referido projeto passa a ser controlado pelo git.
             Observa-se ainda que aparece em destaque um símbolo de um 'ramo' e o nome dado a ele é 'main'.
             O ramo é mais conhecido tecnicamente como 'branch'. Desta forma temos a certeza que foi inicializado o repositório do projeto-a.</p>
        <a href="git-add.html">Próximo: git add</a>
        <a href="index.html">Voltar</a>
    </div>
    <script>Prism.highlightAll();</script>
</body>
</html>
