<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>git add</title>
    <link rel="stylesheet" href="/app/static/css/git-course.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-bash.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>git add</h1>
        <div class="special-note">
            <h2>Adicionando arquivos ao projeto</h2>
            <p>Antes de usar o comando <code class="language-bash">git add</code>, é importante ter arquivos novos no seu projeto. Este comando é usado para adicionar essas mudanças ao stage, preparando-as para o próximo commit.</p>
            <p><strong>Passos para adicionar arquivos ao repositório:</strong></p>
            <ol>
                <li>Faça o download dos arquivos usando este <a href="https://github.com/robertovormittag/phonetic-website>">link.</a></li>
                <li>Descompacte os arquivos e copie cole no site "simple-website".</li>
                <li>Verifique pelo Windows Explorer a estrutura agora completa do repositório.</li>
            </ol>
            <img src="/app/static/images/git-status-after-copy.webp" alt="Imagem ...">
            <p class="image-description">Esta imagem mostra usando o comando <code class="language-bash">git status</code> que representa como os arquivos do repositório estão em relação ao Git, ou seja em vermelho,
            que os arquivos não estão sendo rastreados pelo git, "untracked", indica que se use o comando <code class="language-bash">git add</code>
            para mudar o status dos arquivos. Sinaliza mais embaixo dizendo que nada foi adicionado para a realização do "commit".
        Mais embaixo temos a estrurura to repositório mostrada com os arquivos e um pasta 'style'.</p>
        </div>
        <pre><code class="language-bash">git add path/to/file</code></pre>
        <p>Esse comando é usado quando você deseja preparar um arquivo específico para um <strong>commit</strong>.
            Por exemplo, você pode estar trabalhando em vários arquivos, mas apenas um está pronto para ser confirmado.
            Ao preparar esse arquivo individualmente, você pode garantir que ele seja o único incluído no próximo <strong>commit,</strong>
            mantendo o histórico de <strong>commits</strong> limpo e organizado.</p>
        <ul style="font-size: 1em; color: #5c4033; text-align: justify; margin-top: -10px; margin-bottom: 20px; padding-left: 20px;">
            <li><strong>'git add':</strong>O comando base para preparar arquivos para <strong>commit</strong>.</li>
            <li><strong>'path/to/file':</strong>O caminho específico do arquivo que você deseja adicionar ao <strong>index</strong></li>
        </ul>
        <div class="note">
            <strong>Nota:</strong> O comando <code class="language-bash">git add .</code> adiciona todos os arquivos. Use <code class="language-bash">git add &lt;arquivo&gt;</code> para adicionar arquivos específicos.
            <img src="/app/static/images/git add_all.webp" alt="Imagem GitGraph">
            <p class="image-description">Na imagem anterior podemos notar a aplicação do comando 'git add' em duas situações - na primeira aplicado na
                pasta 'style' contendo 4 arquivos e no segundo comando 'git add' aplicado usando o curinga '*' para aplicar em todos os arquivos com extensão 'html'.
                Ao se aplicar o comando <strong>git status</strong> observa-se que todos os arquivos foram 'staged', ou seja prontos para receberem a confirmação via o comando <strong>git commit</strong>.
                Alguns arquivos que já tiverem passados pelo comando <string>git add</string> podem ser alterados ou seja modificados e assim estes deverão também
                ser alvo do comando <strong>git add</strong> para que eles mudem de status, ou fiquem na condição 'staged', prontos para serem comitados.
            </p>
        </div>
        <footer style="text-align: center; margin-top: 20px; padding: 10px; background-color: #ead8e7; border-top: 1px solid #ddd;">
            <div style="display: flex; align-items: center; justify-content: center;">
                <span><strong>Hosted on GitHub Pages</strong></span>
                <a href="http://jigsaw.w3.org/css-validator/check/referer" style="margin-left: 10px;">
                    <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss" alt="CSS válido!">
                </a>
            </div>
            <nav>
                <a href="git-commit.html" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Próximo: git commit</a></a> |
                <a href="index.html" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Voltar</a> |
                <a href="/terms" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Terms of Service</a> |
                <a href="/privacy" style="margin: 0 10px; color: #5c4033; text-decoration: none;">Privacy Policy</a>
            </nav>
        </footer>
        <script>Prism.highlightAll();</script>
    </div>
</body>
</html>
