<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospedagem - Projeto "Phonetic Website"</title>
    <link rel="stylesheet" href="{CSS_PATH}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Victor+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/components/prism-bash.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Hospedagem - Projeto "Phonetic Website"</h1>
        <p>Seguiremos um roteiro baseado em um livro denominado <strong>"Practical Guide to Git and GitHub For Windows Users"</strong>, escrito por Roberto Vormittag.</p>
        <h2>Etapas</h2>
        <ol style="font-size: 1em; color: #5c4033; text-align: justify; margin-top: -10px; margin-bottom: 20px; padding-left: 20px;">
            <li><strong>Etapa :</strong> Crie sua conta no GitHub</li>
            <li><strong>Etapa :</strong> Faça 'login' em sua conta no GitHub.</li>
            <li><strong>Etapa :</strong> Crie um repositório no GitHub - No menu do GitHub selecione o ícone 'Plus'(+) para criar um "New repository".</li>
            <li><strong>Etapa :</strong> Dê um nome para este repositório - usaremos o nome 'simple-website'</li>
            <li><strong>Etapa :</strong> Crie uma descrição para este projeto - "Phonetic alphabet website"</li>
            <li><strong>Etapa :</strong> Selecione o repositório como 'Public'.</li>
            <li><strong>Etapa :</strong> Marque a Caixa "Initialize this repository with a README file".</li>
            <li><strong>Etapa :</strong> Deixe sem marcar o '.gitignore' e as 'license lists' como "None".</li>
            <li><strong>Etapa :</strong> Pressione o botão "Create repository".</li>
        </ol>
        <img src="{IMG_PATH}create_repo_github.png" alt="Screenshot do processo de criação de repositório no GitHub">
        <p class="image-description">A imagem acima mostra o processo de criação de um novo repositório no GitHub.</p>
        <a href="git-clone.html">Próximo: git clone</a>
        <a href="index.html">Voltar</a>
    </div>
</body>
</html>
