<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução ao Git</title>
    <link rel="stylesheet" href="/app/static/css/git-course.css">
</head>
<body>
    <div class="container">
        <h1>Introdução ao Git</h1>
        <p>Na página inicial do site todas definições de Git foram apresentadas.Esta introdução está voltada para o curso de fundamentos de Git.
            As telas irão apresentar os commandos básicos de Git, para um ambiente Windows. As imagens de terminais que apresentam os commandos utilizam
            o Git Bash - use este (link) para realizer o download do Git em seu ambiente Windows.

            Seguiremos um roteiro baseado em um livro denominado "Practical Guide to Git and GitHub For Windows Users", escrito por Roberto Vormittag.

            Neste livro os princípios de uso do 'Git' são apresentados através de exemplos práticos conforme a metodologia usada pelo autor.

            Faremos uso também de uma representação pictórica dos commandos do Git em sintonia ao apresentado nas imagens dos terminais.
            Esta representação usa uma Tecnologia denominada GitGraph criada pela 'Mermaid'.  </p>
        <a href="index.html">Voltar</a>
    </div>
</body>
</html>
